h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-shadow: 1px 1px #fff;
  margin: 1rem 0;
}


#date {
    font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 20px;
}
